:host {
    width: 100%;
}
.dbEngineId{
  width: 10%;
}
.dbName{
  width: 10%;
}
.ip{
  width: 10%;
}
.commandTypeId{
  width: 14%;
}
.HUBTITLE{
  width: 14%;
}
.row{
  width: 7%;
}
.select{
  width: 3%;
}
.status{
  width: 8%;

}
