
.row {
    width: 5%;
}

.title {
    width: 8%;
}

.scheduled {
    width: 8%;
}

.runSchedledPeriodHH {
    width: 10%;
}

.priorityType {
    width: 6%;
}


.lastRunScheduled {
    width: 10%;
}

.scheduleType {
    width: 10%;
}
