
<p-toast />
<app-breadcrumbs id="section" class="p-0 m-0" [showBackButton]="false"></app-breadcrumbs>


<div class="grid grid-cols-12 gap-4 my-10 mx-5 p-0 m-0">
    <div class="col-span-3 sm:grid-cols-12 md:grid-cols-12 lg:grid-cols-6 xl:grid-cols-6">
        <label class="normal-label">
            <span class="red-color-text">* </span>
            <span>{{ 'registerRule.input.ruleName' | transloco }} :</span>
        </label>
        <input [(ngModel)]="name" (keydown.enter)="onKeydown($event)" pInputText
               class="border rounded p-2 normal-input">
    </div>
    <div class="col-span-3 sm:grid-cols-12 md:grid-cols-12 lg:grid-cols-6 xl:grid-cols-6">
        <label class="normal-label">
            <span class="red-color-text">* </span>
            <span>{{ 'registerRule.dropdown.choosePublicErrorCode' | transloco }} :</span>
        </label>
        <p-select
            [options]="generalErrorCodesOptions"
            [(ngModel)]="generalErrorCodes"
            optionValue="code"
            optionLabel="name"
            class="normal-dropdown"
            (onChange)="onchangeGeneralErrorCodes()"
            (keydown.enter)="onKeydown($event)">
        </p-select>
    </div>
    <div class="col-span-3 sm:grid-cols-12 md:grid-cols-12 lg:grid-cols-6 xl:grid-cols-6">
        <label class="normal-label">
            <span>{{ 'registerRule.dropdown.ruleTemplate' | transloco }} :</span></label>
        <p-select
            [options]="ruleTemplateOptions"
            [(ngModel)]="ruleTemplate"
            optionValue="code"
            optionLabel="name"
            class="normal-dropdown"
            (keydown.enter)="onKeydown($event)">
        </p-select>
    </div>
    <div class="col-span-12">
        <label class="normal-label">
            <span class="red-color-text">* </span>
            <span>{{ 'registerRule.input.errorText' | transloco }} :</span></label>
     <!--   <textarea dir="rtl" [(ngModel)]="errorText"
                  (keydown.enter)="onKeydown($event)" pTextarea
                  class="border rounded p-2 xxx-gggg-12-input"></textarea>-->
        <textarea
            dir="ltr"
            [(ngModel)]="errorText"
            (ngModelChange)="validateJson($event)"
            pTextarea
            class="border rounded p-2 xxx-gggg-12-input">
</textarea>

        <small
            *ngIf="jsonValidationResult?.errors?.length"
            class="block mt-1 text-red-500 text-xs">

            <div *ngFor="let err of jsonValidationResult.errors">
                • {{ err }}
            </div>

        </small>
    </div>

</div>
<p-panel header="{{ 'registerRule.header.messageAssignment' | transloco }}" >
    <!-- <div class="flex justify-start items-center mx-5 ">-->
    <div class="in-panel">
    <div class="grid grid-cols-12 gap-4 mx-5">
        <div class="col-span-4 ">
            <label class="normal-label"><span>{{ 'registerRule.detail.messageId' | transloco }} :</span></label>
            <div class="text-right">
                <label class="text-gray-700 text-sm">{{ this.messageId }}</label>
            </div>
        </div>
        <div class="col-span-4">
            <label class="normal-label"><span>{{ 'registerRule.detail.titleMessage' | transloco }} :</span></label>
            <div class="text-right">
                <label class="text-gray-700 text-sm">{{ title }}</label>
            </div>
        </div>
        <div class="col-span-4  flex justify-start items-center gap-0.5 h-12  rtl:flex-row-reverse">
            <button (click)="showMessage()"
                    class="bg-green-500 border-green-500 text-white w-8 h-8 mr-2 rounded-2xl flex items-center justify-center"
                    pButton icon="pi pi-external-link"
                    pTooltip="{{ 'registerRule.tooltip.chooseMessage' | transloco }}">
            </button>
            <button pTooltip="{{ 'registerRule.tooltip.deleteMessage' | transloco }}"
                    (click)="deleteMessage()"
                    class="bg-red-500 border-red-500 text-white w-8 h-8 rounded-2xl flex items-center justify-center"
                    pButton icon="pi pi-trash">
            </button>
        </div>
        <div class="col-span-4">
            <label class="normal-label"><span>{{ 'registerRule.detail.tableId' | transloco }} :</span></label>
            <div class="text-right">
                <label class="text-gray-700 text-sm">{{ tableId | tableId }}</label>
            </div>
        </div>
        <div class="col-span-4">
            <label class="normal-label"><span>{{ 'registerRule.detail.faMessage' | transloco }} :</span></label>
            <div class="text-right">
                <label class="text-gray-700 text-sm">{{ text }}</label>
            </div>
        </div>

    </div>
    <div>


        <div hidden>
            <label class="normal-label">
                <span class="text-red-500">*</span>
                <span>{{ 'message id' | transloco }} :</span>
            </label>
            <input [(ngModel)]="messageId" pInputText class="border rounded p-2">
        </div>
    </div>
    </div>
</p-panel>

<div class="w-full mt-4 text-left p-4">
    <button
        pButton severity="success"
        label="{{'button.save' | transloco}}"
        icon="pi pi-save" class="normal-button"
        (click)="onRegister()"></button> &nbsp;
    <button pButton label="{{'button.cancel' | transloco}}"
            severity="danger" icon="pi pi-times" class="normal-button"
            [outlined]="true" (click)="onCancel()"></button>

</div>
<ng-container *ngIf="dialogMessageFlag">
<p-dialog [style]="{ 'width': '55%' }" [(visible)]="dialogMessageFlag"
          [modal]="true" [draggable]="false" [resizable]="true">
    <app-message-selector
        [titleHeader]="'label.header.dialog.stepFourthSelectMessages' | transloco"
        [placeholders]="{ code: '', title: '',text: '',textEN: '',  tableid: '', type : ''}"
        [statusCodeOptions]="statusCodeOptions"
        [categoryOptions]="categoryMessages"
        [preselectedMessageId]="messageId"
        [typeOptions]="typeMessages"
        [messagesList]=messagesList
        (selectionCleared)="onChildSelectionCleared($event)"
        (select)="onMessageSelected($event)"
        [presetValue]="{code: generalErrorCodes}"
        (clear)="deleteMessage()"
        [disabledControls]="{ code: true }
">
   </app-message-selector>
</p-dialog>
</ng-container>
