.row{
    width: 8%;
}
.fromDateTime{
    width: 18%;
}
.toDateTime{
    width: 18%;
}
.limitType{
    width: 14%;
}
.status{
    width: 10%;
}
.lblDetails{
    border: 2px solid #3b83eb;
    border-radius: 5px;
    width: 50%;
    min-width: 50%;
    max-width: 100%;
}