.isConsumed{
    width:15%;
}
.receiverName{
    width:15%;
}
.destionationAddress{
    width:15%;
}

.rdateShamsi{
    width:15%;
}


.consumeDateShamsi{
    width:15%;
}


.destionationPlatformId{
    width:15%;
}
