.row{
    width: 8%;
}
.actionType{
    width: 10%;
}
.inputHeaderName{
    width: 14%;
}
.ouputHeaderName{
    width: 14%;
}
.inputHeaderValue{
    width: 14%;
}
.outputHeaderValue{
    width: 14%;
}
.status{
    width: 10%;
}