:host {
    width: 100%;
}
.row {
    width: 8%;
}

.billStatus{
    width: 10%;
}
.toDate{
    width: 10%;
}
.fromDate{
    width: 10%;
}
.billDate{
    width: 10%;
}
.billAmount{
    width: 15%;
}
.billTotall{
    width: 14%;
}
.partyTitle{
    width: 14%;
}