:host {
    width: 100%;
}
.row{
    width: 4%;
}
.conditionType{
    width: 12%;
}
.conditionName{
    width: 10%;
}
.conditionFieldType{
    width: 13%;
}
.conditionValue{
    width: 10%;
}
.ruleCondition{
    width: 10%;
}
.status{
    width: 10%;
}
