:host {
    width: 100%;
}
.row{
    width: 5%;
}
.destinationPortNumber{
    width: 10%;
}

.status{
    width: 10%;
}
.sourceUrl{
    width: 10%;
}
.destinationHost{
    width: 10%;
}

.destinationUri{
    width: 10%;
}

.clientName{
    width: 10%;
}
