:host {
    width: 100%;
}

.row {
    width: 5%;
}
.name {
    width: 8%;
}

.allowedAccountno {
    width: 12%;
}

.organizationCode {
    width: 10%;
}

.mobileNo {
    width: 8%;
}

.status {
    width: 10%;
}
