:host {
    width: 100%;
}

.row {
    width: 5%;
}
.name {
    width: 10%;
}
.mobileNo {
    width: 10%;
}
.emailAddress {
    width: 10%;
}
.telegramUsername {
    width: 10%;
}
.networkIdentifyAddress {
    width: 10%;
}
.fromhh {
    width: 9%;
}
.tohh {
    width: 9%;
}

.status {
    width: 4%;
}
