:host {
    width: 100%;
}
.row{
  width: 5%;
}
.nodePlace{
  width: 8%;
}
.staticTextBefore{
  width: 12%;
}
.staticTextAfter{
  width: 12%;
}
.nodeName{
  width: 12%;
}
.nodePath{
    width: 13%;
}
